<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>document</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Single Line</string>
					<key>output</key>
					<string>replaceDocument</string>
					<key>script</key>
					<string>css-reformat-single-line.php</string>
					<key>setInsertionPoint</key>
					<true/>
					<key>uuid</key>
					<string>09BAC165-0A95-4DAC-9039-F4E7B53D7FDC</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>document</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Multi Line</string>
					<key>output</key>
					<string>replaceDocument</string>
					<key>script</key>
					<string>css-reformat-multi-line.php</string>
					<key>uuid</key>
					<string>A0923DAD-56DD-4791-8100-AB8D0CC2F061</string>
				</dict>
			</array>
			<key>name</key>
			<string>Reformat</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>document</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>High Compression</string>
					<key>output</key>
					<string>replaceDocument</string>
					<key>script</key>
					<string>css-compress-high.php</string>
					<key>uuid</key>
					<string>26A08D11-48D7-4D9D-900C-252A4065DEFA</string>
				</dict>
				<dict>
					<key>fallbackInput</key>
					<string>none</string>
					<key>input</key>
					<string>document</string>
					<key>keyEquivalentConflict</key>
					<false/>
					<key>name</key>
					<string>Medium Compression</string>
					<key>output</key>
					<string>replaceDocument</string>
					<key>script</key>
					<string>css-compress-med.php</string>
					<key>uuid</key>
					<string>1E0C53A6-53FC-4B9A-BBA6-81B96B62A42C</string>
				</dict>
			</array>
			<key>name</key>
			<string>Compress</string>
		</dict>
	</array>
</dict>
</plist>
